.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

.startPage {
    background-image: url(images/header-bg-2.png);
    background-attachment: fixed;   
    background-size: cover;
    margin: 0 15px;
    background-color: #673ab7;
    border-radius: 0 0 20px 20px;
    height: 60vh;
    position: relative;
}

.startPage nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c1c1c1;
}

.startPage nav img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.startPage ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.startPage_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.startPage_content h1 {
    color: rgba(255, 255, 255, .7);
    font-size: 3rem;
}

.startPage_content h3 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .5);
    margin: 1rem 0 2rem 0   ;
}

.startPage_content .search {
    display: flex;
    align-items: center;
}

.startPage_content input {
    width: 100%;
    padding: 10px 15px;
    outline: none;
    border: none;
}

.startPage_content div {
    }